body {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    height: 100px;
    background-color: #bada55;
}

.language {
    display: flex;
    width: calc(100% / 3);
    border: 1px solid rgb(53, 52, 52);
    justify-content: center;
    align-items: center;
    color: crimson;
    font-weight: 300;
    font-size: 2.5em;
}

.active {
    background-color: crimson;
    color: #bada55;
}